.tsa_scrollbar{
    overflow: auto;
    scrollbar-width: thin;
}

.tsa_height{
    height: 50vh
}

/* .tsa_scrollbar {
    position: relative;
    height: 60vh;
    margin-top: 0.5rem;
    overflow: auto;
} */